<form ng-hide="accepted" ng-submit="submit()">
  <div class="row">
    <div class="columns small-4">
      <label for="spEmail" class="right">Email</label>
    </div>
    <div class="columns small-8">
      <input type="text" id="spUsername" ng-model="formModel.username" placeholder="Email" ng-disabled="posting">
    </div>
  </div>
  <div class="row">
    <div class="columns small-4">
      <label for="spPassword" class="right">Password</label>
    </div>
    <div class="columns small-8">
      <input type="password" id="spPassword" ng-model="formModel.password" placeholder="Password" ng-disabled="posting">
    </div>
  </div>
  <div class="row">
    <div class="columns small-12">
      <p class="text-danger" ng-show="error" ng-bind="error"></p>
      <button type="submit" class="button expand" ng-disabled="posting">Login</button>
      <a ui-sref="forgot" class="button expand secondary">Forgot Password</a>
    </div>
  </div>
</form>
