<div class="row">
  <div class=" columns small-12">
    <p class="text-center" ng-show="created && !enabled">Success: New admin account created.  The user has been notified via email.</p>
  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <form ng-hide="created && !authenticating" ng-submit="submit()">
      <div class="row">
        <div class="columns small-4">
          <label for="spFirstName" class="columns small-8">First Name</label>
        </div>
        <div class="columns small-8">
          <input type="text" id="spFirstName" ng-model="formModel.givenName" placeholder="First Name" ng-disabled="creating">
        </div>
      </div>
      <div class="row">
        <div class="columns small-4">
          <label for="spLastName">Last Name</label>
        </div>
        <div class="columns small-8">
          <input type="text" id="spLastName" ng-model="formModel.surname" placeholder="Last Name" ng-disabled="creating">
        </div>
      </div>
      <div class="row">
        <div class="columns small-4">
          <label for="spEmail">Email</label>
        </div>
        <div class="columns small-8">
          <input type="email" id="spEmail" ng-model="formModel.email" placeholder="Email" ng-disabled="creating">
        </div>
      </div>
      <div class="row">
        <div class="columns small-4">
          <label for="spPassword">Password</label>
        </div>
        <div class="columns small-8">
          <input type="password" id="spPassword" ng-model="formModel.password" placeholder="Password" ng-disabled="creating">
        </div>
      </div>
      <div class="row">
        <div class="columns small-12">
          <p class="alert alert-danger" ng-show="error" ng-bind="error"></p>
          <button type="submit" class="expand" ng-disabled="creating">Create Admin</button>
        </div>
      </div>
    </form>
  </div>
</div>
