<div class="row">
  <div class="columns">
    <p ng-show="sent" class="alert-box success">
      We have sent a password reset link to the email address of the account that you specified.
      Please check your email for this message, then click on the link.
    </p>
    <p ng-show="sent" class="text-right">
      <a ui-sref="adminLogin">Back to Login</a>
    </p>
    <div ng-show="requestFailed" class="alert-box warning">
      Sorry, there was a problem with that email or username.  Please try again.
    </div>
  </div>
</div>

<div class="row">
  <form ng-hide="sent" ng-submit="submit()">
    <div class="columns small-4">
      <label for="spEmail" class="right">Email</label>
    </div>
    <div class="columns small-8">
      <input type="email" id="spEmail" ng-model="formModel.email" placeholder="Your Email Address" ng-disabled="posting" required>
    </div>

    <div class="row">
      <div class="columns large-offset-2 large-8"></div>
      <p class="text-danger" ng-show="error" ng-bind="error"></p>
    </div>
    <div class="columns small-12">
      <button type="submit" class="button expand" ng-disabled="posting">Request Password Reset</button>
    </div>
  </div>
</form>
</div>
