<div class="row">
  <h4 class="text-center">Admin Dash</h4>

  <!-- LISTINGS ACCORDION -->
  <div class ="accordionHolder large-12 columns">
    <h4>Listings</h4>
    <accordion close-others="false">
      <accordion-group is-open="showActive">
        <accordion-heading>
          Active Listings
          <i class="right" ng-class="{'fa fa-chevron-down': showActive, 'fa fa-chevron-right': !showActive}"></i>
        </accordion-heading>
        A list of all items currently listed as active or for sale.
        <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="showScheduled">
        <accordion-heading>
          Scheduled Listings
          <i class="right" ng-class="{'fa fa-chevron-down': showScheduled, 'fa fa-chevron-right': !showScheduled}"></i>
        </accordion-heading>
        <div ng-repeat="item in items">{{item}}</div>
        <p>A list or table of items that are scheduled will appear here, dynamically.</p>
      </accordion-group>
      <accordion-group is-open="showArchived">
        <accordion-heading>
          Archived Listings
          <i class="right" ng-class="{'fa fa-chevron-down': showArchived, 'fa fa-chevron-right': !showArchived}"></i>
        </accordion-heading>
        <div ng-repeat="item in items">{{item}}</div>
        <p>Archived items listed here.</p>
      </accordion-group>
      <accordion-group is-open="showCreate">
        <accordion-heading>
          Create a Listing
          <i class="right" ng-class="{'fa fa-chevron-down': showCreate, 'fa fa-chevron-right': !showCreate}"></i>
        </accordion-heading>
        <div class="row panel">
            <div class="row">
              <div class="large-8 medium-12 small-12 columns">
                <label>Title
                  <input ng-model="newListing.title" type="text" placeholder="15 Pack of Watercolor Brushes" />
                </label>
              </div>
              <div class="large-4 medium-12 small-12 columns">
                <div class="row collapse">
                  <label>Price</label>
                  <div class="large-1 medium-2 small-2 columns">
                    <span class="postfix">$</span>
                  </div>
                  <div class="large-11 medium-3 small-6 end columns">
                    <input ng-model="newListing.priceNum" type="number" name="currency" min="0" max="9999" step="0.01" placeholder="0.00" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Description
                  <textarea ng-model="newListing.description" rows="5" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque repellat modi molestiae ipsam aliquam, quasi veritatis eum cumque, ratione dolore cum facilis corporis veniam soluta fuga ea excepturi neque laborum."></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <div class="row collapse">
                  <label>Images</label>
                  <form action="/uploads" method='post' enctype='multipart/form-data'>
                    <input accept="image/*" type="file" name="photos">
                    <button class="right" type="submit">Upload</button>
                    <div ng-repeat="upload in uploads">Images: {{upload.file.originalname}}</div>
                  </form>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">
                <label>Select featured image.
                  <select ng-model="newListing.featuredImage">
                    <option value="">Please select after uploading</option> <!-- unselected -->
                    <option value="image1">{{images[1] || 'Please upload an image.'}}</option>
                    <option value="image2">{{images[2] || 'Please upload an image.'}}</option>
                    <option value="image3">{{images[3] || 'Please upload an image.'}}</option>
                    <option value="image4">{{images[4] || 'Please upload an image.'}}</option>
                    <option value="image5">{{images[5] || 'Please upload an image.'}}</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns text-justify">
                <label>Date Listing should become active.</label>
                <div class="large-4 large-offset-1 medium-6 small-12 columns">
                  <input ng-model="newListing.status" type="radio" name="status" value="current"><label for="statusCurrent">Immediately</label><br>
                  <input ng-model="newListing.status" type="radio" name="status" value="archived"><label for="statusArchived">Archive for later</label>
                </div>
                <div class="large-5 large-offset-1 medium-6 small-12 columns end">
                  <input ng-model="newListing.status" type="radio" name="status" value="scheduled"><label for="statusScheduled">Schedule for:</label>
                  <input type="date" id="exampleInput" name="input" ng-model="example.value" placeholder="2015-12-31" min="2015-12-11" max="2017-12-31"/>
                  <!-- <div role="alert">
                  <span class="error" ng-show="myForm.input.$error.required">Required!</span>
                  <span class="error" ng-show="myForm.input.$error.date">Not a valid date!</span>
                </div> -->
              </div>
            </div>
          </div>
          <button ng-click="submitListing(newListing)" class="right">Create Listing</button>
      </div>
    </accordion-group>
  </accordion>
</div>
</div>

<div class="row">
  <!--SALES ACCORDION -->
  <div class ="accordionHolder large-6 medium-12 small-12 columns marginRight">
    <h4>Sales</h4>
    <accordion close-others="false">
      <accordion-group is-open="isopen">
        <accordion-heading>Recent<i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i></accordion-heading>
        A list of recent sales (from Stripe) and a checkbox to move them to archive.
        This action exists so admin can manually 'review' automated orders.
        <button class="button small" ng-click="addItem()">Add Item</button>
        <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="showArchived"><accordion-heading>Archived<i class="right" ng-class="{'fa fa-chevron-down': showArchived, 'fa fa-chevron-right': !showArchived}"></i></accordion-heading>
        <div ng-repeat="item in items">{{item}}</div>
        <p>Archived sales listed here.</p>
      </accordion-group>
    </accordion>
  </div>

  <div class ="accordionHolder large-6 medium-12 small-12 columns marginLeft">
    <h4>Settings</h4>
    <accordion close-others="false">
      <accordion-group is-open="showManage"><accordion-heading>Admin Management<i class="right" ng-class="{'fa fa-chevron-down': showManage, 'fa fa-chevron-right': !showManage}"></i></accordion-heading>
        <p>Create a admin account for someone else:</p>
        <div class="nestedFormContainer">
          <h4 class="text-center">Registration:</h4>
          <div sp-registration-form template-url ="/partials/forms/customRegisterForm.html"></div>
        </div>
      </accordion-group>
      <accordion-group is-open="showCustomize"><accordion-heading>Customize Carousel<i class="right" ng-class="{'fa fa-chevron-down': showCustomize, 'fa fa-chevron-right': !showCustomize}"></i></accordion-heading>
        <p>A place to upload images to banner and edit text that is animated in.</p>
      </accordion-group>
      <accordion-group is-open="showComm"><accordion-heading>Email & Communications<i class="right" ng-class="{'fa fa-chevron-down': showComm, 'fa fa-chevron-right': !showComm}"></i></accordion-heading>
        <p>Enable email settings or templates here.</p>
      </accordion-group>
    </accordion>
  </div>
</div>
