<div class="row">
    <h4 class="text-center">Admin Dash</h4>
    <!-- LISTINGS ACCORDION -->
    <div class ="accordionHolder large-12 columns">
      <h4>Listings</h4>
      <accordion close-others="false">
        <accordion-group is-open="showActive">
          <accordion-heading>
            Active Listings
            <i class="right" ng-class="{'fa fa-chevron-down': showActive, 'fa fa-chevron-right': !showActive}"></i>
         </accordion-heading>
          A list of all items currently listed as active or for sale.
          <div ng-repeat="item in items">{{item}}</div>
        </accordion-group>
        <accordion-group is-open="showScheduled">
          <accordion-heading>
            Scheduled Listings
            <i class="right" ng-class="{'fa fa-chevron-down': showScheduled, 'fa fa-chevron-right': !showScheduled}"></i>
          </accordion-heading>
          <div ng-repeat="item in items">{{item}}</div>
          <p>A list or table of items that are scheduled will appear here, dynamically.</p>
        </accordion-group>
        <accordion-group is-open="showArchived">
          <accordion-heading>
            Archived Listings
            <i class="right" ng-class="{'fa fa-chevron-down': showArchived, 'fa fa-chevron-right': !showArchived}"></i>
          </accordion-heading>
          <div ng-repeat="item in items">{{item}}</div>
          <p>Archived items listed here.</p>
        </accordion-group>
        <accordion-group is-open="showCreate">
          <accordion-heading>
           Create a Listing
           <i class="right" ng-class="{'fa fa-chevron-down': showCreate, 'fa fa-chevron-right': !showCreate}"></i>
         </accordion-heading>
          <div class="row">
            <form>
  <div class="row">
    <div class="large-8 columns">
      <label>Title
        <input type="text" placeholder="15 Pack of Watercolor Brushes" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Price</label>
          <div class="large-1 columns">
            <span class="postfix">$</span>
          </div>
          <div class="columns large-11">
          <input type="text" placeholder="3.00" />
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Description
        <input type="text" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque repellat modi molestiae ipsam aliquam, quasi veritatis eum cumque, ratione dolore cum facilis corporis veniam soluta fuga ea excepturi neque laborum."/>
      </label>
    </div>
    <div class="large-12 columns">
      <div class="row collapse">
        <label>Images</label>
        <div class="small-12 columns">
          <input type="text" placeholder="upload"/>
        </div>
        <!-- <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
    <div class="large-6 columns">
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div>
</form>
            title: listing.title,
            description: listing.description,
            price: listing.priceNum,
            images: listing.images,
            status: listing.status,
            created: Date.now
          </div>
        </accordion-group>
      </accordion>
    </div>
</div>

<div class="row">
  <!--SALES ACCORDION -->
  <div class ="accordionHolder large-6 medium-12 small-12 columns marginRight">
    <h4>Sales</h4>
    <accordion close-others="false">
      <accordion-group is-open="isopen">
        <accordion-heading>Recent<i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i></accordion-heading>
        A list of recent sales (from Stripe) and a checkbox to move them to archive.
        This action exists so admin can manually 'review' automated orders.
        <!-- <button class="button small" ng-click="addItem()">Add Item</button> -->
        <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="showArchived"><accordion-heading>Archived<i class="right" ng-class="{'fa fa-chevron-down': showArchived, 'fa fa-chevron-right': !showArchived}"></i></accordion-heading>
        <div ng-repeat="item in items">{{item}}</div>
        <p>Archived sales listed here.</p>
      </accordion-group>
    </accordion>
  </div>

  <div class ="accordionHolder large-6 medium-12 small-12 columns marginLeft">
    <h4>Settings</h4>
    <accordion close-others="false">
      <accordion-group is-open="showManage"><accordion-heading>Admin Management<i class="right" ng-class="{'fa fa-chevron-down': showManage, 'fa fa-chevron-right': !showManage}"></i></accordion-heading>
        <p>Create a admin account for someone else:</p>
        <div class="nestedFormContainer">
          <h4 class="text-center">Registration:</h4>
          <div sp-registration-form template-url ="/partials/forms/customRegisterForm.html"></div>
        </div>
      </accordion-group>
      <accordion-group is-open="showCustomize"><accordion-heading>Customize Carousel<i class="right" ng-class="{'fa fa-chevron-down': showCustomize, 'fa fa-chevron-right': !showCustomize}"></i></accordion-heading>
        <p>A place to upload images to banner and edit text that is animated in.</p>
      </accordion-group>
      <accordion-group is-open="showComm"><accordion-heading>Email & Communications<i class="right" ng-class="{'fa fa-chevron-down': showComm, 'fa fa-chevron-right': !showComm}"></i></accordion-heading>
        <p>Enable email settings or templates here.</p>
      </accordion-group>
    </accordion>
  </div>
</div>
