<div class="row">
    <h4 class="text-center">Admin Dash</h4>
    <!-- LISTINGS ACCORDION -->
    <div class ="accordionHolder large-12 columns">
      <h4>Listings</h4>
      <accordion close-others="false">
        <accordion-group heading="For Sale" is-open="true">
          A list of all items currently listed as active or for sale.
          <!-- <button class="button small" ng-click="addItem()">Add Item</button> -->
          <div ng-repeat="item in items">{{item}}</div>
        </accordion-group>
        <accordion-group heading="Scheduled">
          <div ng-repeat="item in items">{{item}}</div>
          <p>A list or table of items that are scheduled will appear here, dynamically.</p>
        </accordion-group>
        <accordion-group heading="Archived">
          <div ng-repeat="item in items">{{item}}</div>
          <p>Archived items listed here.</p>
        </accordion-group>
        <accordion-group is-open="isopen">
          <accordion-heading>
            I can have markup, too! <i class="right" ng-class="{'fa fa-chevron-down': isopen, 'fa fa-chevron-right': !isopen}"></i>
          </accordion-heading>
          This is just some content to illustrate fancy headings.
        </accordion-group>
      </accordion>
    </div>
</div>

<div class="row">
  <!--SALES ACCORDION -->
  <div class ="accordionHolder large-6 medium-12 small-12 columns marginRight">
    <h4>Sales</h4>
    <accordion close-others="false">
      <accordion-group heading="Recent" is-open="true">
        A list of recent sales (from Stripe) and a checkbox to move them to archive.
        This action exists so admin can manually 'review' automated orders.
        <!-- <button class="button small" ng-click="addItem()">Add Item</button> -->
        <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group heading="Archived">
        <div ng-repeat="item in items">{{item}}</div>
        <p>Archived sales listed here.</p>
      </accordion-group>
    </accordion>
  </div>

  <div class ="accordionHolder large-6 medium-12 small-12 columns marginLeft">
    <h4>Settings</h4>
    <accordion close-others="true">
      <!-- <accordion-group heading="Edit Theme">
        <p>Customize colors here. Controller sets color to sass variables, etc.</p>
      </accordion-group> -->
      <accordion-group heading="Admin Management">
        <p>Create a admin account for someone else:</p>
        <div>
          <h4 class="text-center">Registration:</h4>
          <div sp-registration-form></div>
        </div>
      </accordion-group>
      <accordion-group heading="Customize Carousel">
        <p>A place to upload images to banner and edit text that is animated in.</p>
      </accordion-group>
      <accordion-group heading="Email & Communications">
        <p>Enable email settings or templates here.</p>
      </accordion-group>
    </accordion>
  </div>
</div>
