<!-- HOME.HTML -->
<!-- f5 CAROUSEL -->
<div class="row">
  <div class="columns large-12">

<div class="one-time">
  <div><img src="/assets/carousel/redPastries.jpg" alt="slide 1"/></div>
  <div><img src="/assets/carousel/payment.jpg" alt="slide 1"/></div>
  <div><img src="http://placehold.it/2000x750" alt="slide 1"/></div>
  <div><img src="/assets/carousel/ornament-cropped.jpg" alt=""/></div>
</div>






    <!-- <ul class="example-orbit" data-orbit>
      <li>
        <img src="http://placehold.it/2000x750" alt="slide 1" />
        <div class="orbit-caption">
          Caption One.
        </div>
      </li>
      <li class="active">
        <img src="http://placehold.it/2000x750" alt="slide 2" />
        <div class="orbit-caption">
          Caption Two.
        </div>
      </li>
      <li>
        <img src="http://placehold.it/2000x750" alt="slide 3" />
        <div class="orbit-caption">
          Caption Three.
        </div>
      </li>
    </ul> -->

  </div>
</div>
<hr/>
<!-- F6 CAROUSEL BROKENE -->
<!-- <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <li class="orbit-slide is-active">
      <img src="http://placehold.it/2000x750">
    </li> -->
    <!-- <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li>
    <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li>
    <li class="orbit-slide">
      <img src="http://placehold.it/2000x750">
    </li> -->
  <!-- </ul>
</div> -->

<div ui-view></div>
